{
  "jsc": {
     "transform": {
      "react": {
        "displayName": true
      }
    },
    "experimental": {
      "plugins": [
        [
          "@swc/plugin-styled-components",
          {
            "displayName": true,
            "ssr": true
          }
        ]
      ]
    }
  }
}